/* Import fonts from Google */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Orbitron:wght@700&display=swap');

.logo-container {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    letter-spacing: -0.5px; /* Tights spacing for modern look */
}

.text-viweb {
    font-weight: 700; /* Bold */
    color: #FFFFFF;   /* White */
}

.text-labs {
    font-family: 'Orbitron', sans-serif; /* The Tech Font */
    font-weight: 700; /* Bold */
    color: #39FF14;   /* Neon Green */
}

.slogan {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400; /* Regular/Light */
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0.5px;
}
html {
	scroll-behavior: smooth;
	font-size: 1rem;

}

body {
	background: url(images/bg2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Montserrat';
	overflow-x: hidden;
	background-attachment: fixed;
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	 font-family: 'Montserrat', sans-serif;
	
	
	p{
		font-size: 16px;
		font-weight: 200;
		letter-spacing: 1px;
		word-spacing: 2px;
	}
}
.navbar-brand{
	img{
		border-radius: 50px;
		transition: all 0.5s;
	}
}
.footer-logo{
	border-radius: 50px;
	transition: all 0.5s;
}
footer{
	background: black !important;
	.container-fluid.bg-dark{
		background: black !important;
	}
}
.welcome-text{
	border-radius: 10px 50px 50px 100px;
}

.resume-pop{
	z-index: 999;
    right: 0;
    top: 200px;
    background: #a0efa0;
    padding: 3px;
    border-radius: 20px 0 0 20px;
	background: -webkit-gradient(to right, #a2ccb6 0%, #fceeb5 50%, #ee786e 100%);
    background: linear-gradient(to right, #a2ccb6 0%, #fceeb5 50%, #ee786e 100%);
    background-size: 500%;
    border: none;
    border-radius: 5rem 0 0 5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* height: 4rem; */
    letter-spacing: 0.05em;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	font-weight: bold;
}
header {
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	background: rgba(0, 0, 0, 0.6);
	z-index: 9;

}

.nav-item.active {
	color: white;
}


/* particle.js */
#particles-js {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}


/* tail star style */
.moving-star {
	transform: rotate(-30deg);
}

.moving-star2 {
	transform: rotate(190deg);
}

.tail-star, .tail-star2 {
	display: inline-block;
	background: white;
	height: 3px;
	width: 3px;
	border-radius: 50%;
	position: relative;
	animation: tail-star-move 5s ease-in infinite;
	transform: translateX(-100px);
	opacity: 0.5;

}

.tail-star:nth-of-type(2) {
	top: 350px;
	animation-delay: 2.5s;
}

.tail-star2:nth-of-type(2) {
	top: 350px;
	animation-delay: .5s;
}

@keyframes tail-star-move {
	from {
		transform: translateX(100vw);
		opacity: 1;
	}

	to {
		transform: translateX(-100vw);
		opacity: 0.8;
	}
}

.tail-star:after, .tail-star2:after {
	content: "";
	width: 120px;
	height: 3px;
	background: linear-gradient(to right, white, transparent);
	position: absolute;
	left: 100%;
	border-radius: 0 50% 50% 0;
}


/* tail star style end*/
.display-4.font-weight-bold{
	background: linear-gradient(225deg, #04fffe 14.89%, #2ac870 85.85%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.container-myfluid {
	background-color: rgba(0, 0, 0, 0.4);

	top: 0%;
	bottom: 0%;
	left: 0%;
	right: 0%;
}

.container .img1 {
	border-radius: 50%;
}

.align-middle {
	display: flex;
	justify-content: center;
	align-items: center;
	;
}
.our-services {
	button{
		height: 42px;
		width: 120px;
		font-size: 16px;
		font-weight: 500;
	}
}

/* animated card style */
.card-group .card.bg-info {
	background-color: #f0ecfc;
	background-image: linear-gradient(315deg, #f0ecfc 0%, #c797eb 74%);
	transition: ease-in-out all 0.5s;

}

.card-group .card.bg-dark {
	background-color: #4dccc6;
	background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
	transition: ease-in-out all 0.5s;
}

.card-group .card.bg-info:first-child:hover {
	transition: ease-in-out all 0.5s;
	transform: translate(-20px, -20px);
	cursor: pointer;

}

.card-group .card.bg-info:last-child:hover {
	transition: ease-in-out 0.5s;
	transform: translate(20px, 20px);
	cursor: pointer;
}

.card-group .card.bg-dark:first-child:hover {
	transition: ease-in-out 0.5s;
	transform: translate(-20px, 20px);
	cursor: pointer;
}

.card-group .card.bg-dark:last-child:hover {
	transition: ease-in-out 0.5s;
	transform: translate(20px, -20px);
	cursor: pointer;
}


/* animated card style end*/



/* button style */
button, .contact-us button {
	-webkit-appearance: none;
	background: -webkit-gradient(to right, #a2ccb6 0%, #fceeb5 50%, green 100%);
	background: linear-gradient(to right, #a2ccb6 0%, #fceeb5 50%, green 100%);
	background-size: 500%;
	border: none;
	border-radius: 5rem;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
	color: #fff;
	cursor: pointer;
	font-size: 20px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 56px;
	letter-spacing: 0.05em;
	outline: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: 11rem;
	font-weight: 600;
	transition: all 0.5s;
}
.viweblabs-big-logo{
    border-radius: 100px;
	cursor: pointer;
	box-shadow: 3px 0px 48px aquamarine;
	transition: all 0.5s;
}
.navbar-brand img:hover, .footer-logo:hover{
	box-shadow: 10px 10px 10px aquamarine;
	box-shadow: 3px 0px 25px aquamarine;
	transition: all 0.5s;
}
.contact-us{
	input,textarea{
		background-color: transparent;
		color: #fff;
		border-radius: 11px;
	}
	input:focus,textarea:focus{
		color: #050505;
	}
}

button:hover {
	animation-name: gradient;
	-webkit-animation-name: gradient;
	animation-duration: 2s;
	-webkit-animation-duration: s;
	animation-iteration-count: 1;
	-webkit-animation-iteration-count: 1;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	transition: all 0.5s;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	100% {
		background-position: 100%;
	}
}

/* button style end */


/* rotation earth */
.earth {
	z-index: 999;
	margin: auto;
	/* position: absolute; */
	border-radius: 50%;
	height: 400px;
	width: 400px;
	background: url(images/earth.jpeg);
	box-shadow: inset 0 0 20px #03a9f4,
		0 0 120px #03a9f4;
	animation: animationEarth 60s linear infinite;
}

@keyframes animationEarth {
	0% {
		background-position: 0%;
	}

	100% {
		background-position: 102.5%;
	}
}


.earth2 {
	position: absolute;
	top: 0%;
	;
	border-radius: 50%;
	z-index: -999;
	box-shadow: inset 50px 0px 20px 0px #050505,
		0 0 120px #bec3c5;
	animation: animationSvg 60s linear infinite;
	width: 150px;
	height: 150px;
	background: url(images/lunar.jpg);
}


@keyframes animationSvg {
	0% {
		background-position: 0%;
	}

	100% {
		background-position: 102.5%;
	}
}






.fw-bold{
	font-weight: bold;
}

.about-sec{
	p{
		text-align: justify;
		letter-spacing: 1px;
		word-spacing: normal;
	}
}

.opacity-50{
	opacity: 0.5;
}
.work-experience{
	li,p{
		font-size: 14px;
        font-weight: 300;
        letter-spacing: 1px;
        word-spacing: 1.5px;
	}
}
.contact-icons{
	position: absolute;
    bottom: 0px;
    background: white;
    padding: 12px;
	img{
		width: 25px;

	}
}
.filterTabs button.active {
	/* background-color: #52e2e7 !important; */
	background: none;
	background-image: linear-gradient(315deg, #f0ecfc 0%, #c797eb 74%);
  }

/* responsive */

@media (max-width:600px) {
	/* body{
		overflow-x: hidden;
	} */
	 .resume-pop {
		font-size: 10px;
	 }
	.moving-star, .moving-star2 {
		overflow: hidden !important;
	}

	.earth {
		margin-top: 5rem;
		height: 325px;
		width: 325px;
	}

	.display-4 {
		font-size: 2.5rem;
	}

	footer .border-secondary {
		border-right: none;
	}

	footer .col-md-4 {
		padding-bottom: 1rem;
	}

	footer .text-center {
		text-align: left !important;
	}
}



/* our services section css*/

.our-services{
	margin:7rem 0;
	.service-body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    /* background: #161623b8; */
	padding: 3rem 0;
}

.service-body::before {
    /* content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(255, 0, 0, 0.853), rgba(255, 0, 255, 0.756));
	
    clip-path: circle(30% at right 70%); */

	content: '';
        position: absolute;
        top: 24px;
        /* left: 0; */
        right: -38%;
        width: 61%;
        height: 135%;
        background: linear-gradient(rgba(255, 0, 0, 0.853), rgba(255, 0, 255, 0.756));
        clip-path: circle(30% at right 70%);
        clip-path: circle(30% at 40% 41%);
}

.service-body::after {
    /* content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#2196f3, #e91e63);
    clip-path: circle(20% at 10% 10%);
	clip-path: circle(30% at 40% 41%); */


	content: '';
        position: absolute;
        top: -37px;
        left: 0;
        width: 32%;
        height: 95%;
        background: linear-gradient(#2196f3, #e91e63);
        clip-path: circle(20% at 10% 10%);
        clip-path: circle(40% at 26% 45%);
}

.container-service{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* max-width: 1200px; */
    flex-wrap: wrap;
    z-index: 1;
	column-gap: 1.8rem;
}

.card {
    position: relative;
    display: flex;
    width: 360px;
    height: 400px;
    /* margin: 30px; */
    box-shadow: 20px 20px 50px rgba(0, 0, 0, .5);
    border-radius: 15px;background: rgba(255, 255, 255, .1);
    overflow: hidden;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, .5);
    border-left: 1px solid rgba(255, 255, 255, .5);
    backdrop-filter: blur(5px);
}

.content {
    padding: 20px;
    text-align: center;
    transform: translateY(35px);
    opacity: 1;
    transition: .5s;
}

.card:hover .content {
    transform: translateY(20px);
    opacity: 1;
}

.content h2 {
    position: absolute;
    top: -90px;
    right: 30px;
    font-size: 115px;
    color: rgb(255 255 255 / 19%);
    pointer-events: none;
	font-weight: 600;
}

.content h3 {
    font-size: 28px;
    color: #fff;
    z-index: 1;
	background: linear-gradient(225deg, rgb(4, 255, 254) 14.89%, rgb(42, 200, 112) 85.85%) text;
    -webkit-text-fill-color: transparent;
	font-weight: 600;
}

.content p {
    font-size: 16px;
    color: #fff;
    font-weight: 300;
}

.content a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #fff;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .2);
}

/* Gradient overlay */
.card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    rgba(99, 102, 241, 0.12),   /* bottom color (very light) */
    rgba(99, 102, 241, 0.02),   /* top color (almost transparent) */
    transparent
  );
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.card:hover::before {
  opacity: 1;
}



/* Keep content above gradient */
.card .content {
  position: relative;
  z-index: 1;
}
}
/* our services section css end*/