body{
	background: url(images/stars.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'STIX Two Text', serif;
	
}

.container-fluid{
	background-color: rgba(0, 0, 0, 0.4);
	
	top: 0%;
	bottom: 0%;
	left: 0%;
	right: 0%;
}

.container .img1{
	border-radius: 50%;
}

.align-middle{
	display: flex;
	justify-content: center;
	align-items: center;;
}

.earth{
	z-index: 999;
	margin: auto;
	/* position: absolute; */
	border-radius: 50%;
	height: 400px;
	width: 400px;
	background: url(images/earth.jpeg);
	box-shadow: inset 0 0 20px #03a9f4,
				0 0 120px #03a9f4;
	animation:animationEarth 60s linear infinite;
}

@keyframes animationEarth
{
 0%
 {
	 background-position: 0%;
 }
 100%
 {
	 background-position: 102.5%;
 }
}